@import "../../styles//var.scss";
.Header {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  box-shadow: $box-shadow;
  padding: 20px;
  margin-bottom: 20px;
  &__logo-item {
  }
  &__logo-item {
  }
}
.active {
  color: $active-link;
}
